body {
  background-color: #eee;
}

.container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.table-dark {
  background-color: #034875;
}

.table-dark th {
  color: #ffffff;
}

.btn-primary {
  background-color: #034875;
  border-color: #034875;
}

.btn-secondary {
  background-color: #eee;
  color: #034875;
}

.card {
  border: 1px solid #ddd;
}

.card-title {
  color: #034875;
}
