.year-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 Spalten für 12 Monate */
  gap: 5px;
  padding: 1px;
  margin: 0 auto;
  justify-items: center;
  background-color: #a2abb1;
}

.month-tile {
  border: 1px solid #ddd;
  border-radius: 0px;
  padding: 1px;
  text-align: center;
  position: relative;
  width: 100%; /* Sicherstellen, dass die Kacheln die gesamte Breite nutzen */
  height: auto;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.month-tile h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 3px;
  margin-top: 2px;
}

.fc-dayGridMonth-view {
  width: 100% !important; /* Sicherstellen, dass der Kalender die volle Breite einnimmt */
  margin: 0 auto; /* Zentrieren */
  padding: 0;
}

.fc-day {
  font-size: 0.9rem; /* Kleinere Schrift für die Tage, damit mehr Platz vorhanden ist */
}

.fc-dayGridMonth .fc-day-number {
  font-weight: bold;
}

/* Optional: Ereignisse in der Monatsansicht gut sichtbar machen */
.fc-event {
  font-size: 0.7rem;
  background-color: #1a73e8; /* Beispiel-Farbe */
  color: #fff;
  border-radius: 1px;
  padding: 2px 5px;
}

.today-highlight {
  background-color: #ffeb3b; /* Gelb als Beispiel */
  border: 2px solid #fbc02d; /* Passender Rahmen */
  border-radius: 10%;
}